.main{
    margin: 30px;
    background-color: white;
}
.img-small{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.small-navigation{
    margin-top: 15px;
}

.media-small{
    font-size: 16px;
    padding-top: 10px;
}

.comment{
    margin: 10px 0px;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.menu{
    margin-top: 6px;
    color: #999;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}

.comment-line{
    margin-top: 0px;
}