.main{
    margin: 30px;
    background-color: white;
}
.img-small{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.small-navigation{
    margin-top: 15px;
}