.main{
    margin: 30px;
    background-color: white;
}
.img-small{
    height: 38px;
    width: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.small-navigation{
    margin-top: 15px;
}

.media-small{
    font-size: 16px;
    padding-top: 10px;
}

.comment{
    margin: 10px 0px;
}

.btn-comment{
    float: right;
    margin-bottom: 10px;
}

.menu{
    margin-top: 6px;
    color: #999;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}

.comment-line{
    margin-top: 0px;
}

.sub-comment-line{
    margin: 0 0;
}

.sub-comment{
    margin-top: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 14px 8px;
}

.input-comment{
    margin-bottom: 10px;
}

.tags{
    margin-right: 5px;
    cursor: pointer;
}

.relation{
    list-style: none;
    margin: 5px 0px;
    padding: 3px 0px;
}

.text-link:hover{
    color: #428bca;
    text-decoration: none;
}
.text-link{
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
}

.relation-list{
    padding-inline-start:2px;
}

.nav-tag{
    display: none;
    margin-top: 10px;
}
.publish-tab-tags{
    padding-top: 10px;
}

.publish-tab-tags .label-info{
    white-space: normal;
    display: inline-block;
    margin: 5px 5px;
}